.Header
	position: relative
	background: $blue
	color: #fff
	.container
		height: 64px
		display: flex
		justify-content: space-between
		padding: 0 40px
	nav
		display: flex
		align-items: center
	.logo
		width: 154px
	ul
		display: flex
		gap: 16px
		list-style: none
		padding: 0
		margin: 0 0 0 8px
	a
		display: block
		font-weight: 600
		padding: 8px
		&.logo-link
			padding-left: 0
	button
		padding: 8px
	.icon-plus
		padding-top: 4px
		width: 16px
	.language
		border: 1px solid #fff
		padding: 3px 5px
		border-radius: 4px
		font-size: 0.875rem
	.search img
		width: 20px

//---------------------------------------
.Header.mobile
	.container
		padding: 0 20px
	nav
		width: 100%
		display: grid
		grid-template-columns: 1fr 1fr 1fr
	.logo-mobile
		width: 55px
	.actions
		justify-content: flex-end
		gap: 4px
