.ListSelect
	display: flex
	.select-container
		display: flex
		width: fit-content
		background: $blue
		border-radius: 30px
	select
		border: none
		padding-left: 16px
		min-height: 31px
		background: $green-lg
		color: transparent
		font-size: 1rem
		font-weight: 600
		-webkit-background-clip: text
		outline-offset: 4px
	option
		color: initial
		background: initial

@media (max-width: $mobile)
	.ListSelect
		flex-direction: column
		.select-container
			margin-top: 8px
