.Select
	background: $blue
	border-radius: 30px
	@extend .flex-centre
	width: fit-content

	select
		height: 31px
		border: none
		border-radius: inherit
		text-align: center
		padding-left: 18px
		font-size: 1rem
		font-weight: 600
		background: $green-lg
		color: transparent
		-webkit-background-clip: text
		option
			font-size: .84rem
