.Select
	background: $blue
	border-radius: 30px
	height: 31px
	width: fit-content

	select
		border: none
		text-align: center
		margin-left: 16px
		font-size: 1rem
		font-weight: 600
		height: 100%
		background: $green-lg
		color: transparent
		-webkit-background-clip: text
		option
			font-size: .84rem