.Trailer
	button
		padding: 0
	img
		display: block
		border-radius: 8px
		max-width: 300px

	.content
		margin-top: 2px
		display: flex
		flex-direction: column
		align-items: center
		h3
			margin: 0
			font-size: 1.2rem
			font-weight: 600
		h4
			margin: 0
			font-size: 1rem
			font-weight: 400
			color: #fff


.VideoPlayer
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 99

	$headerHeight: 48px
	header
		display: flex
		justify-content: space-between
		color: #fff
		background: #000
		height: $headerHeight
		h3
			font-weight: 400
			margin: 0 16px
			align-self: center
		button
			border: none
			background: none
			color: #999
			font-size: 1.2rem
			font-weight: 600
			padding: 8px 16px 8px 8px
			height: fit-content
			&:focus
				color: orange

	iframe
		display: block
		border: none
		height: 100%
		max-width: 100vw
		max-height: calc(100svh - $headerHeight)
		aspect-ratio: 16/9
